.container{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    margin-bottom: 0px;
}
.button{
    margin-right: 10px;
}